<ion-header>
  <ion-toolbar color=danger>
    <ion-title>Working with Cards</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
 <ion-card-header color=dark>
     Card header
  </ion-card-header>

  <ion-card-content>
     Card content 
  </ion-card-content>
<ion-list>
  <ion-item>
      <ion-icon name="cart" item-start></ion-icon>
      Shopping
    
  </ion-item>
<ion-item>
      <ion-icon name="medical" item-start></ion-icon>
      Hospital
    
</ion-item>
<ion-item>
      <ion-icon name="cafe" item-start></ion-icon>
      Cafe
    
  </ion-item>
  </ion-list>
</ion-card>

<ion-card>
  <img src="assets/fruits.jfif"/>
  <ion-card-content>
    <ion-card-title>
      </ion-card-title>
    <p>
      
    </p>


  </ion-card-content>
</ion-card>
<ion-button routerLink="/"> Home </ion-button>
<ion-button routerLink="/newpage5"> Page 5 </ion-button>

</ion-content>
