<ion-header>
  <ion-toolbar color=success>
    <ion-title>Working with buttons</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-button>Simple button </ion-button>
<ion-button expand=block>Button expand block </ion-button>
<ion-button expand=full>Button expand full </ion-button>

<ion-button fill=outline>outline button </ion-button>
<ion-button fill=solid>solid button </ion-button>
<ion-button fill=clear>clear button </ion-button>
<br><br>
<ion-button size=small>small button </ion-button>
<ion-button size=default>default button </ion-button>
<ion-button size=large>large button </ion-button>

</ion-content>
